@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vw;
}

shadow-box {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
}
